{% extends "master/base.html" %}
{% block head_block %}
    <head>
        <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
        <script>
            tinymce.init({
                selector: 'textarea',
                height: 500,
                plugins: [
                    'advlist autolink lists link image charmap print preview anchor',
                    'searchreplace visualblocks code fullscreen',
                    'insertdatetime media table contextmenu paste code'
                ],
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                content_css: [
                    '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                    '//www.tinymce.com/css/codepen.min.css'
                ]

            });</script>

        {{ message_form.media }}
    </head>
{% endblock %}

{% block body_block %}
    <body>
    <h3>New Message</h3>

    <form method="post" action="/messages/new/">
        {% csrf_token %}
        {% for field in message_form.visible_fields %}
            <div class="form-group">
            {{ field.errors }}
            <label>{{ field.label }}</label>
            {{ field }}

            <div>
        {% endfor %}
        <br/>
        <button type="submit" class="btn btn-default">Send</button>
    </form>
    </body>

{% endblock %}
