{% extends "master/base.html" %}
{% block body_block %}
{% if user.is_authenticated %}
<h2>Hello {{ user.first_name }}. Welcome to SecureShare!</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <a class="btn btn-default" href="{% url 'reports:reports' %}">New Report</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <form class="form-inline" method="post" action="/reports/folders/">
                    <div class="form-group">
                        {% csrf_token %}
                        <input type="text" name="folder_name" class="form-control" placeholder="New Folder Name">
                    </div>
                    <button type="submit" class="btn btn-default">Create New Folder</button>
                </form>
            </div>
        </div>
        <div class="col-md-6">
                <div class="well">
                    <form class="form-inline" method="get" action="/reports/search_reports">
                        <label for="id_q">Search For:</label>
                        {% csrf_token %}
                        <input type="radio" name="report" id="id_report" checked="checked"/>Reports
                        <input type="radio" name="folder" id="id_folder"/>Folders
                        <input type="radio" name="creator" id="id_creator"/>Creators
                        <input type="radio" name="attachment" id="id_attach"/>Attachments
                        <br>
                        <input type="text" class="form-control" name="q" id="id_q" size="45"/>
                        <input type="submit" class="btn btn-default" class="form-control" value="Search"/>
                    </form>
                </div>
        </div>
    </div>


{% for folder in user.folder_set.all %}
<div class="panel panel-default">
  <div class="panel-heading">
      {{ folder.label }}
      {% if folder.label != "Uncategorized"%}
        {% if folder.label != "Shared With Me"%}
            <a class="btn btn-default pull-right btn-sm" href="{% url "reports:edit_folder" folder.id %}">Edit Folder</a>
            <div class="clearfix"></div>
        {% endif %}
      {% endif %}
  </div>
    <table class="table">
      <tr>
        <th>Name</th>
          <th>Creator</th>
        <th>Public</th>
        <th>Date Created</th>
          <th>Attachments</th>
        <th>Actions</th>
        <th>Move to...</th>
      </tr>
      {% for report in folder.reports.all %}
      <tr>
        <td><a href="{% url 'reports:read_report' report.id %}">{{ report.title }}</a></td>
        <td> {{ report.creator }} </td>
        <td>{{ report.public }}</td>
        <td>{{ report.create_date }}</td>
      <td>
          <a id="popover" class="btn btn-default" data-container="body" data-toggle="popover"
                  data-placement="right" data-content="{% for attachment in report.attachment_set.all %}{{ attachment.name }}, {% endfor %}">Attachments</a>
      </td>
        <td> <a href="{% url "reports:edit_report" report.id %}">Edit</a> &nbsp; &nbsp;
          <a href="{% url "reports:delete_report" report.id %}">Delete</a></td>
        <td>
          <form id="folder_move_form" method="post" action="/reports/move/">
          {% csrf_token %}
            <select name="move_to" onChange = "$('#folder_move_form').submit()">
              <option value="" disabled="disabled" selected="selected">Please select a folder</option>
              {% for listfold in user.folder_set.all %}
              {% if listfold.label != "Shared With Me" %}
                <option value="{{listfold.id}}"> {{ listfold.label }}</option>
              {% endif %}
              {% endfor %}
            </select>
            <input type="hidden" name="move_from" value="{{folder.id }}">
            <input type="hidden" name="currep" value="{{report.id}}">
            </form>
        </td>
      </tr>
      {% endfor %}
    </table>
</div>
{% endfor %}


{% else %}
<div class="jumbotron">
  <h1>Welcome to SecureShare</h1>
  <p>An Information System to Support Secure Information Sharing</p>
  <p><a class="btn btn-primary btn-lg" href="{% url 'accounts:register' %}" role="button">Register Now</a></p>
</div>
<p>Many small groups in the world need a means to collect, share, and distribute information securely, without risking it falling into the wrong hands on their own computer or servers, and without it being lost due to other reasons (theft, viruses, etc). Examples of such groups include grassroots organizations, new businesses, political groups, freedom fighters, human rights organizations, journalists, etc.</p>
{% endif %}
{% endblock %}

<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
          $('[data-toggle="popover"]').popover()
        $('#popover').tooltip(options)
        $('#popover').popover()
    });
</script>
